body {
  margin: 0 !important;
  padding: 0 !important;
}

.red {
  border: 1px solid red;
}

.green {
  border: 1px solid green;
}

.banner {
  height: 800px;
  background: url("./banner.jpg") center center no-repeat;
  padding: 20px;
}
.banner .about-sign-in {
  height: 80px;
  width: 100%;
  text-align: right;
}
.banner .about-sign-in .about,
.banner .about-sign-in .signin {
  margin-top: 20px;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  padding: 10px 15px;
}
.banner .about-sign-in .about {
  color: black;
}
.banner .about-sign-in .signin {
  margin-left: 30px;
  margin-right: 25px;
  border: 1px solid green;
  border-radius: 20px;
  color: green;
}
.banner .logo {
  background: url("./hapoERP.png") center center no-repeat;
  height: 100px;
  margin-top: 80px;
}
.banner .btn-start-now {
  text-align: center;
}
.banner .btn-start-now button {
  text-transform: uppercase;
  padding: 10px 15px;
  border: 1px solid green;
  border-radius: 20px;
  margin-top: 15px;
  cursor: pointer;
}
.banner .content-center {
  text-align: center;
}
.banner .content-center .left,
.banner .content-center .right,
.banner .content-center .center {
  width: 15%;
  display: inline-block;
}
.banner .content-center span {
  display: block;
  font-size: 20px;
}
.banner .content-center img {
  width: 30px;
  height: 30px;
}
.banner .text {
  text-align: center;
  margin-top: 50px;
  color: green;
}

span {
  display: block;
  font-size: 20px;
}

img {
  width: 30px;
  height: 30px;
}
